<div class="row">
  <div class="col-md-6 box-dropdown">
    <h2 class="box-title">Menu</h2>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation">
        <%= link_to "Categories", x_categories_path, role: "menuitem" %>
      </li>
      <li class="dropdown-submenu">
          <a href="#">Something else here</a>
          <ul class="dropdown-menu">
              <li><a href="#">Action1</a></li>
              <li><a href="#">Action2</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
          </ul>
      </li>
    </ul>
  </div>
</div>