<div class="row">
  <div class="col-md-6 box-dropdown">
    <h2 class="box-title">Menu</h2>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-submenu">
        <%= link_to "Categories", "#", role: "menuitem" %>
        <ul class="dropdown-menu">
          <% Category.all.each do |category| %>
          <li><%= link_to category.title, x_category_indicators_path(category) %></li>
          <% end %>
          <li class="divider"></li>
          <li><%= link_to "ALL", x_categories_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>