<div class="box">
  <h2 class="box-title">Edit category</h2>
  <div class="row">
    <div class="col-md-12">
			<%= simple_form_for @datum, url: x_indicator_source_open_data_path(@source) do |f| %>
				<%= render "common/error", object: @datum %>
				<%= render "form", f: f %>
				<%= f.button :submit, "Submit", data: { disable_with: "Sending" } %>
	    <% end %>
	    <div class="clearfix"></div>
    </div>
  </div>
</div>

