<div class="row">
<div class="col-md-12">
  <div class="docs-article docs-start" id="overview">
    <h3>ドコスモ:DOCOSUMOUとは?</h3>
    <p>ドコスモ:DOCOSUMOUは、出産、育児、教育、生活、医療、安心・安全の6カテゴリ毎に自分の重視する度合いを選択し、自分に合った住環境を探す手助けをするサービスです。</p>
    <dl>
      <dt>背景</dt>
      <dd>各地方自治体毎に提供している行政サービスは異なり、子育てに力を入れる街、医療・介護に力を入れる街と自治体毎に特色あるサービスを提供しはじめている。自分にあった行政サービスを提供している自治体に移り住むようになってきている。しかしながら、全てのサービスを満たすことは難しく、自分が重視するサービスもまた異なる。そこで、自分が重視する項目を選択しながら、そのサービスの充実している自治体をランキングして表示することができたら、自分に合った住環境を探す手助けになるのではないかと考えた。</dd>
      <dt>アプローチ方法</dt>
      <dd>自治体が公表している保育園の数、病院の数などのデータを元に、偏差値を計算し、重視する項目の重みを付与して、ランキングを算出した。</dd>
      <dt>対応状況</dt>
      <dd>2014年8月現在では、東京23区のみに対応しています。</dd>
    </dl>
  </div>
</div>
</div>